<div class="edit-post-title">
  投稿内容編集
</div>
<div class="edit-post-form">
<%= form_with model: @work, url: edit_work_path(@work.id, @tag.id) local: true do |f| %>
  <%= render 'error_messages', model: f.object
  <%= f.label :images, '画像を選択してください' %>
  <%= f.file_field :images, multiple: true %><br>
  <%= f.text_field :title, placeholder: 'enter a title' %><br>
  <%= f.text_area :description, placeholder: 'enter a description' %><br>
  <%= f.text_field :tag_name, placeholder: '登録したいタグを入力してください　例）#◯◯' %><br>
  <%= f.submit '投稿する' %>
<% end %>
</div>

<%= link_to '← 作品詳細へ戻る', work_path(@work.id), class: "return_to" %>