<div class="new-post-title">
  新規投稿
</div>
<div class="new-post-form">
<%= form_with model: @work_tag, class: "work_form", local: true do |f| %>
  <%= render 'error_messages', model: f.object %>
  <%= f.label :images, '画像を選択してください', class: "form_label" %><br>
  <%= f.file_field :images, multiple: true, class: "select_images" %><br>
  <%= f.text_field :title, placeholder: 'タイトルを入力してください', class: "title_input" %><br>
  <%= f.text_area :description, placeholder: '説明を入力してください', class: "description_input" %><br>
  <%= f.text_field :tag_name, placeholder: '登録したいタグを入力してください　例）#◯◯', class: "tag_input" %><br>
  <%= f.submit '投稿する' %>
<% end %>
</div>

<%= link_to '← トップへ戻る', root_path, class: "return_to" %>