<div class="new-post-title">
  新規投稿
</div>
<div class="new-post-form">
<%= form_with model: @work, url: works_path, local: true do |f| %>
  <%= f.label :images, '画像を選択してください' %>
  <%= f.file_field :images, multiple: true %><br>
  <%= f.text_field :title, placeholder: 'enter a title' %><br>
  <%= f.text_area :description, placeholder: 'enter a description' %><br>
  <%= f.text_field :tag_name, placeholder: '登録したいタグを入力してください　例）#◯◯' %><br>
  <%= f.submit '投稿する' %>
<% end %>
</div>

<%= link_to '← トップへ戻る', root_path, class: "return_to" %>