<h1>作品詳細ページ</h1>

<% if user_signed_in? %>
  <div class="edit-btn">
    <%= link_to '編集する', edit_work_path(@work.id) %>
  </div>
<% end %>

<div class="work-field">
  <div class="work-image">
    <% @work.images.each do |work| %>
      <li>
        <%=image_tag work, height:"400px" %>
      </li>
    <% end %>
  </div>
  <div class="work-info">
    <div class="work-title">
      <h3>
        <%= @work.title %>
      </h3>
    </div>
    <div class="work-description">
      <h4>
        <%= @work.description %>
      </h4>
    </div>
  </div>
</div>

<div comment-field>
  <div class="show-comments">
    <h4>
      コメント一覧
    </h4>
    <div class="comment-lists">
      <% @comments.each do |comment| %>
        <li class="comment-list">
          <div><%= comment.text %></div>
          <div><%= comment.user.nickname %></div>
        </li>
      <% end %>
    </div>
  </div>

  <div class="comment-form">
    <% if user_signed_in? %>
      <%= form_with(model: [@work, @comment], local: true) do |f| %>
        <%= f.text_area :text, placeholder: 'コメントする', class:"text-form" %>
        <%= f.submit 'send', class:"send" %>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "戻る", root_path %>