<% if user_signed_in? && @work.user == current_user %>
  <div class="work_btn">
    <%= link_to '編集する', edit_work_path(@work.id) %>
    <%= link_to '削除する', work_path(@work.id), method: :delete %>
  </div>
<% end %>

<div class="work-field">
  <div class="show-work-images">
    <% @work.images.each do |work| %>
      <li class="show_work_image">
        <%=image_tag work, height:"400px" %>
      </li>
    <% end %>
  </div>
  <div class="show-work-info">
    <div class="show-work-title">
      <%= @work.title %>
    </div>
    <div class="show-work-description">
      <%= @work.description %>
    </div>
    <div class="who-posted">
    by <%= link_to @nickname, user_path(@work.user), class:"user_name" %>
    </div>
  </div>
</div>

<div class="comment-field">
  <div class="show-comment">
    コメント一覧
  </div>
  <div class="comment-lists">
    <% if @comments.length >= 1 %>
      <% @comments.each do |comment| %>
        <div>
        <li class="comment-list">
          <div><%= link_to comment.user.nickname, user_path(comment.user), class: "comment_user_name" %></div>
          <div class="comment_text"><%= comment.text %></div>
        </li>
        </div>
      <% end %>
    <% else %>
      <div class="no_comment_message">まだコメントがありません</div>
    <% end %>
  </div>

  <div class="comment-form">
    <% if user_signed_in? %>
      <%= form_with(model: [@work, @comment], local: true) do |f| %>
        <%= f.text_area :text, placeholder: "write a comment", class:"text-form" %>
        <%= f.submit 'send', class:"send" %>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "← トップへ戻る", root_path, class: "return_to" %>