<!DOCTYPE html>
<html>
  <head>
    <title>HachiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://meyerweb.com/eric/tools/css/reset/reset200802.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header>
  <div class="header_bar">
    <div class="header_title">
      <%= link_to 'Hachi App', root_path, class: "hachiapp" %>
    </div>
    <div class="header_menu">
      <ul class="menu_lists">
        <% if user_signed_in? %>
          <li><%= link_to "my page", user_path(current_user.id), class: "menu_list" %></li><span>|</span>
          <li><%= link_to "sign out", destroy_user_session_path, method: :delete, class: "menu_list" %></li><span>|</span>
          <li><%= link_to "new post", new_work_path, class:"menu_list" %></li>
        <% else %>
          <li><%= link_to "sign up", new_user_registration_path, class:"menu_list" %><br></li><span>|</span>
          <li><%= link_to "sign in", new_user_session_path, class:"menu_list" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>

<body>
  <%= yield %>
</body>

<footer>
  <p id="footer">
    footer
  </p>
</footer>
  
</html>
