<!DOCTYPE html>
<html>
  <head>
    <title>HachiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://meyerweb.com/eric/tools/css/reset/reset200802.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header>
  <div class="header-bar">
    <% if user_signed_in? %>
      <%= link_to "マイページ", user_path(current_user.id) %>
      <%= link_to "sign_out", destroy_user_session_path, method: :delete %>
      <%= link_to "新規投稿", new_work_path %>
    <% else %>
      <%= link_to "sign up", new_user_registration_path %><br>
      <%= link_to "sign in", new_user_session_path %>
    <% end %>
  </div>
</header>

  <body>
    <%= yield %>
  </body>
</html>
